.color {
    background-color: #0000001f;
    border-radius: 20px;
    border: 0.1px dotted;
}

.container {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    background-color: #7576771c;
    border: 1px solid;
    border-radius: 20px;
    justify-content: center;
}

.front {
    display: flex;
    background-color:rgb(197, 197, 197);
    border-radius: 20px;
    border: 1px solid;
    padding: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}

.font {
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    padding: 5px;
    margin: 10px;
    background-color: white;
    border: 5px solid;
    border-radius: 20px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.box:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box img {
    display: block;
    border-radius: 20px;
    max-width: 450px;
    max-height: 250px;
    margin: auto;
    object-fit: contain;
}
