.container {
    display: flex;
    flex-wrap: wrap;
}

.front {
    display: flex;
    background-color:azure;
    border-radius: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    border: 5px solid;
    width: 400px;
    height: 400px;
}

.box:hover {    
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}